SECRET_KEY='example'
DATABASE_URL='sqlite:///example.db'
ALLOWED_HOSTS='localhost,127.0.0.1,python-project-52-example.onrender.com,webserver'
DJANGO_SUPERUSER_NAME='example'
DJANGO_SUPERUSER_EMAIL='example.exe@gmail.com'
DJANGO_SUPERUSER_PASSWORD='example'
DEBUG=False
ACCESS_TOKEN='example' 
CC_TEST_REPORTER_ID='example'
START_COMMAND='python manage.py migrate && gunicorn task_manager.wsgi:application --bind 0.0.0.0:$PORT --workers 2'
