{% extends "base.html" %}
{% load django_bootstrap5 i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'View a task' %}</h1>
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2>{{ task }}</h2>
        </div>
        <div class="card-body bg-light">
            <p>{{ task.description }}</p>
            <hr>
            <div class="container">
                <div class="row p-1">
                    <div class="col font-weight-bold">{% trans 'Author' %}:</div>
                    <div class="col">{{ task.creator }}</div>
                </div>
                <div class="row p-1">
                    <div class="col font-weight-bold">{% trans 'Executor' %}:</div>
                    <div class="col">{{ task.executor }}</div>
                </div>
                <div class="row p-1">
                    <div class="col font-weight-bold">{% trans 'Status' %}:</div>
                    <div class="col">{{ task.status }}</div>
                </div>
                <div class="row p-1">
                    <div class="col font-weight-bold">{% trans 'Date and time of creation' %}:</div>
                    <div class="col">{{ task.created_at }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <h6>{% trans 'Labels' %}:</h6>
                        {% for label in task.labels.all %}
                        <ul>
                            <li>{{ label }}</li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <a href="{% url 'tasks_update' pk=task.pk %}" class="btn btn-primary btn-sm">{% trans 'Update' %}</a>
                        <br>
                        <a href="{% url 'tasks_delete' pk=task.pk %}" class="btn btn-danger btn-sm">{% trans 'Delete' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
