{% extends "base.html" %}
{% load django_bootstrap5 i18n %}
{% block content %}
<main class="container wrapper flex-grow-1">
    <h1 class="my-4">
        {% trans 'Users' %}
    </h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans 'Username' %}</th>
            <th>{% trans 'Full name' %}</th>
            <th>{% trans 'Created date' %}</th>
            <th></th>
        </tr>
        </thead>
        {% for user in users %}
        <tbody>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
                <a href="{% url 'users_update' pk=user.pk %}">{% trans 'Update' %}</a>
                <br>
                <a href="{% url 'users_delete' pk=user.pk %}">{% trans 'Delete' %}</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</main>
{% endblock %}
